h1 {
    color: red;
}

.bg-black {
    background-color: #242424d1;
}

a {
    color: inherit;
}

a:hover {
    color: #fd6600;
}

/* css header start*/

    .nav-top-right {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search-top::before {
        content: none !important;
    }

    .input-icon-search {
        padding: 2px 10px;
    }

    .box-search-top {
        width: 350px;
        top: -10px !important;
    }

    

/* css header end. */

/* css footer start */

    .list-ul {
        list-style-type: none;
        padding:0;
    }

    .title-footer {
        font-size: 28px;
        font-weight: bolder;
    }

/* css footer start */